@import url('https://fonts.googleapis.com/css2?family=Lilita+One&family=Open+Sans&display=swap');

body {
  margin: 0;
  color: white;
  background-color: #333333;
}

.sidenav {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
  font-family: 'Lilita One'
}

.sidenav a {
  padding: 6px 6px 6px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #29b6f6;
  display: block;
}

.content {
  font-family: 'Open Sans';
  padding-left: 200px;
  position: absolute;
}

h1 {
  font-size: 50px;
  font-family: 'Lilita One';
}

.inside {
  padding-left: 10px;
  padding-bottom: 10px;
}

.seperator {
  width: 50px;
  text-align: left;
  margin-left: 0;
  border: solid white;
  border-radius: 10px;
  "}
